<div class="row">
  <div class="col-sm-3 col-md-3">
    <div class="form-group">
      <label for="inputFirstName">Кличка</label>
      <input type="text" class="form-control" id="inputFirstName" placeholder="bbbКличка">
    </div>
  </div>
  <div class="col-sm-3 ">
    <div class="form-group">
      <label for="inputLastName">Мать</label>
      <input type="text" class="form-control" id="inputLastName1" placeholder="Мать">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="inputLastName">Отец</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Отец">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="inputEmail">Дата рождения</label>
      <input type="date" class="form-control" id="inputEmail" placeholder="Дата рождения">
    </div>
  </div>
</div>
<div class="row">

  <div class="col-sm-3">
    <div class="form-group">
      <div class="input-demo radio-demo row">
        <div class="col-md-6">
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <span>Мальчик</span> </label>
        </div>
        <div class="col-md-6">
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <span>Девочка</span>
          </label>
        </div>
        <div class="col-md-6">
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <span>Неизвестно</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
